<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Register GitHub Packages with higher priority -->
    <add key="goatcorp" value="https://nuget.pkg.github.com/goatcorp/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="TeamCraft" value="https://api.teamcraft.ffxivteamcraft.com/nuget/" />
  </packageSources>
  <packageSourceCredentials>
    <goatcorp>
      <add key="Username" value="anything" />
      <add key="ClearTextPassword" value="${GITHUB_TOKEN}" />
    </goatcorp>
  </packageSourceCredentials>
  <config>
    <!-- Set to prevent fallback to global packages directory -->
    <add key="globalPackagesFolder" value="%userprofile%\.nuget\packages" />
    <add key="repositoryPath" value=".\packages" />
  </config>
</configuration>